
$nav-list-color:#212832;
$info-subtitle-color:#DF6951;
$info-text-color:#5E6282;
$company-title-color:#080809;
$block-logo-color:#181E4B;
$placeholder-color:#39425D;
$form-input-bg:#FFF;
$block-bg:rgb(223, 215, 249, .4);
$block-img-border:rgb(108, 106, 106);
$block-border:rgb(108, 106, 106);
$block-box-shadow:rgba(241, 165, 1, 0.15);
$tultip-bg:whitesmoke;
$gray:gray;
$keyframes-border1:black;
$keyframes-border2: red;
